﻿.friends-color-scheme .resume_preview_title #resume_preview_submit_button,.friends-color-scheme .job_listing_preview_title #job_preview_submit_button,.friends-color-scheme .poll_result_bar>div>div,.friends-color-scheme .comment-content .reply-edit-container a.comment-reply-link:hover,.friends-color-scheme .comment-content .reply-edit-container a.comment-edit-link:hover,.friends-color-scheme #author-info #author-description #author-link a:hover,.friends-color-scheme .search.widget .btn,.friends-color-scheme .tagcloud .tag_cloud_post_tag a:hover,.friends-color-scheme .blue-button,.friends-color-scheme .wrapper .content .blue-button {
    background-color: #3fb8af
}

.friends-color-scheme .ui-state-default.ui-corner-top.ui-tabs-active.ui-state-active {
    background-color: #3fb8af!important
}

.friends-color-scheme .wrapper .job-manager-form .resume-manager-add-row,.friends-color-scheme .tagcloud .tag_cloud_post_tag a:hover {
    color: #fff
}

.friends-color-scheme .wrapper h1,.friends-color-scheme .wrapper .single-resume-content h2,.friends-color-scheme .single_job_sidebar .job_company_name,.friends-color-scheme .author-name,.friends-color-scheme .comment-content .fn,.friends-color-scheme .comment-content .fn a,.friends-color-scheme .page_title,.friends-color-scheme .wrapper h3,.friends-color-scheme .wrapper .widget:not(.tagcloud) a,.friends-color-scheme .wrapper .content a,.friends-color-scheme .footer-wrapper .footer-content ul.footer-menu li a:hover,.friends-color-scheme .headerimg .jobs-statistics .jobs-count,.friends-color-scheme .headerimg .jobs-statistics .employers-count {
    color: #3fb8af
}

.friends-color-scheme .wrapper .poll_answer:hover,.friends-color-scheme .footer-wrapper .footer-content {
    border-color: #3fb8af
}

.friends-color-scheme ul.job_listings li.type-job_listing:hover {
    box-shadow: 0 0 0 1px #3fb8af;
    -webkit-box-shadow: 0 0 0 1px #3fb8af
}

.friends-color-scheme ul.job_listings li.type-job_listing.job_position_featured a:hover {
    box-shadow: 0 0 0 5px #3fb8af;
    -webkit-box-shadow: 0 0 0 5px #3fb8af
}

.friends-color-scheme ul.resumes li.resume.featured_resume:hover {
    box-shadow: 0 0 0 5px #dad8a7;
    -webkit-box-shadow: 0 0 0 5px #dad8a7
}

.friends-color-scheme ul.resumes li.type-resume:hover {
    box-shadow: 0 0 0 1px #dad8a7;
    -webkit-box-shadow: 0 0 0 1px #dad8a7
}

.friends-color-scheme ul.resumes li.resume.featured_resume:hover {
    box-shadow: 0 0 0 5px #dad8a7;
    -webkit-box-shadow: 0 0 0 5px #dad8a7
}

.friends-color-scheme .headerimg .resumes-statistics .registered-users-count,.friends-color-scheme .headerimg .resumes-statistics .active-resumes-count,.friends-color-scheme ul.resumes li.resume.featured_resume a:hover .candidate-column h3,.friends-color-scheme .headerimg .resumes-statistics .registered-users-count,.friends-color-scheme .headerimg .resumes-statistics .active-resumes-count,.friends-color-scheme .header .top-header .logged-in-container .user-name {
    color: #dad8a7
}

.friends-color-scheme ul.resumes li.resume.featured_resume a div.candidate-column {
    background-color: rgba(218,216,167,.9)
}

.friends-color-scheme .single_resume_sidebar .resume-aside .resume_photo .resume_cand_name,.friends-color-scheme .wrapper .job-manager-form .resume-manager-add-row,.friends-color-scheme .wpb_thumbnails .isotope-item .post-thumb,body.friends-color-scheme .wpb_image_grid .wpb_image_grid_ul .isotope-item:hover,.friends-color-scheme .sf-menu li li.current-menu-item,.friends-color-scheme .sf-menu .sub-menu .current-page-ancestor,.friends-color-scheme .sf-menu .sub-menu .current-menu-ancestor,.friends-color-scheme .sf-menu .sub-menu .current-menu-parent,.friends-color-scheme .sf-menu .sub-menu .current-page-parent,.friends-color-scheme .sf-menu .sub-menu .current_page_parent,.friends-color-scheme .wrapper .content .green-button,.friends-color-scheme .green-button {
    background-color: #dad8a7
}

