﻿.clearfix {
    zoom:1}

.clearfix:after,.clearfix:before {
    content: "";
    display: table
}

.clear,.clearfix:after {
    clear: both
}

.nobr {
    white-space: nowrap
}

.display-icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    -webkit-font-smoothing: antialiased;
    font-family: job-manager!important;
    text-decoration: none;
    font-weight: 400;
    font-style: normal;
    vertical-align: top;
    font-size: 16px;
    margin: 0 3px 0 0;
    *overflow: auto;
    *zoom:1;*display: inline
}

.resume-manager-data-row {
    position: relative;
    cursor: move
}

.resume-manager-data-row .resume-manager-remove-row {
    position: absolute;
    right: 0;
    top: 0;
    height: 0;
    margin: .5em -1.25em 0 0;
    width: 1em;
    padding: 1em 0 0;
    overflow: hidden;
    color: #ccc
}

.resume-manager-data-row .resume-manager-remove-row:before {
    content: 'x';
    position: absolute;
    top: 0;
    left: 0;
    width: 1em;
    line-height: 1em;
    text-align: center
}

.resume-manager-data-row .resume-manager-remove-row:hover {
    color: red
}

.resume-manager-data-row fieldset:last-child {
    border-bottom: 4px solid #eee
}

.resume_preview {
    padding: 0 1em 1em;
    border: 5px solid #eee
}

.entry-content .resume_preview_title,.resume_preview_title {
    padding: .5em 1em;
    vertical-align: middle;
    position: relative;
    background: #eee
}

.entry-content .resume_preview_title h2,.resume_preview_title h2 {
    margin: 0;
    clear: none
}

.entry-content .resume_preview_title .button,.resume_preview_title .button {
    float: right;
    margin-left: .25em
}

.single-resume .resume-manager-education,.single-resume .resume-manager-experience {
    padding: 0 0 0 1em;
    margin: 0 0 1em;
    border-top: 3px solid #eee
}

.single-resume .resume-manager-education h3,.single-resume .resume-manager-experience h3 {
    font-weight: 400;
    margin: 0;
    padding: 0
}

.single-resume .resume-manager-education h3:before,.single-resume .resume-manager-experience h3:before {
    display: block;
    width: .75em;
    height: .75em;
    background: #eee;
    content: "";
    margin: 1em 0 0 -.375em;
    position: absolute;
    left: -4px;
    top: 0;
    -moz-border-radius: .75em;
    -webkit-border-radius: .75em;
    border-radius: .75em;
    border: 4px solid #fff
}

.single-resume .resume-manager-education dd,.single-resume .resume-manager-education dt,.single-resume .resume-manager-experience dd,.single-resume .resume-manager-experience dt {
    border-left: 2px solid #ddd;
    padding: 0 0 0 1em;
    margin: 0
}

.single-resume .resume-manager-education p,.single-resume .resume-manager-experience p {
    margin: 1em 0 0
}

.single-resume .resume-manager-education dt,.single-resume .resume-manager-experience dt {
    padding: 1em 0 0 1em;
    position: relative
}

.single-resume .resume-manager-education dd,.single-resume .resume-manager-experience dd {
    overflow: hidden
}

.single-resume .resume-manager-skills {
    padding: 0;
    margin: 0 0 1em;
    list-style: none
}

.single-resume .resume-manager-skills li {
    margin-bottom: .5em;
    width: 50%;
    padding: 0 0 0 1em;
    display: inline-block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.single-resume small.date {
    color: #999;
    font-size: .75em;
    font-weight: 400;
    text-transform: uppercase
}

.single-resume .meta {
    list-style: none outside;
    padding: 0;
    margin: 0 0 1.5em;
    overflow: hidden;
    zoom:1;clear: both
}

.single-resume .meta li {
    margin: 0 .5em 0 0;
    padding: .5em;
    float: left;
    line-height: 1em;
    color: #999
}

.single-resume .meta li:first-child {
    padding-left: 0
}

.single-resume .meta .resume-category:before {
    display: inline-block;
    width: 16px;
    height: 16px;
    -webkit-font-smoothing: antialiased;
    font-family: job-manager!important;
    text-decoration: none;
    font-weight: 400;
    font-style: normal;
    vertical-align: top;
    font-size: 16px;
    margin: 0 3px 0 0;
    *overflow: auto;
    *zoom:1;*display: inline;
    content: '\e818'
}

.single-resume .meta .resume-title:before {
    display: inline-block;
    width: 16px;
    height: 16px;
    -webkit-font-smoothing: antialiased;
    font-family: job-manager!important;
    text-decoration: none;
    font-weight: 400;
    font-style: normal;
    vertical-align: top;
    font-size: 16px;
    margin: 0 3px 0 0;
    *overflow: auto;
    *zoom:1;*display: inline;
    content: '\e807'
}

.single-resume .meta .date-posted:before {
    display: inline-block;
    width: 16px;
    height: 16px;
    -webkit-font-smoothing: antialiased;
    font-family: job-manager!important;
    text-decoration: none;
    font-weight: 400;
    font-style: normal;
    vertical-align: top;
    font-size: 16px;
    margin: 0 3px 0 0;
    *overflow: auto;
    *zoom:1;*display: inline;
    content: '\e80f'
}

.single-resume .resume_contact {
    overflow: hidden;
    zoom:1;padding-left: 20px;
    margin: 0 0 1em
}

.single-resume .resume_contact .resume_contact_button,.single-resume .resume_contact .resume_contact_details {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.single-resume .resume_contact .resume_contact_button {
    text-align: center;
    font-size: 1.2em;
    line-height: 1em;
    width: 33.3%;
    float: left;
    margin: 0 0 0 -20px;
    padding: .83333333em
}

.single-resume .resume_contact .resume_contact_details {
    float: right;
    width: 66.6%;
    border: 1px solid #eee;
    padding: .75em 1em 0;
    margin: 0;
    line-height: 1.5em;
    display: block;
    position: relative
}

.single-resume .resume_contact .resume_contact_details p {
    margin: 0 0 .75em
}

.single-resume .resume_contact .resume_contact_details:before {
    content: "";
    position: absolute;
    margin: 0 0 0 -10px;
    left: 0;
    top: 1em;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid #eee
}

.single-resume .resume_contact .resume_contact_details:after {
    content: "";
    position: absolute;
    margin: 1px 0 0 -9px;
    top: 1em;
    left: 0;
    width: 0;
    height: 0;
    border-top: 9px solid transparent;
    border-bottom: 9px solid transparent;
    border-right: 9px solid #fff
}

.single-resume .resume-aside {
    position: relative;
    border: 1px solid #eee;
    padding: 1em 1em 1em 42px;
    margin: 0 0 2em;
    display: block;
    clear: both;
    min-height: 48px
}

.single-resume .resume-aside img {
    width: 48px;
    height: 48px;
    position: absolute;
    left: 1em;
    float: left;
    vertical-align: middle;
    box-shadow: none
}

.single-resume .resume-aside .job-title {
    display: block;
    margin: 0;
    padding: 0 0 0 2em;
    font-weight: 700;
    line-height: 1.5em
}

.single-resume .resume-aside .job-title:before {
    display: inline-block;
    width: 16px;
    height: 16px;
    -webkit-font-smoothing: antialiased;
    font-family: job-manager!important;
    text-decoration: none;
    font-weight: 400;
    font-style: normal;
    vertical-align: top;
    font-size: 16px;
    margin: 0 3px 0 0;
    *overflow: auto;
    *zoom:1;*display: inline;
    content: '\e807'
}

.single-resume .resume-aside .location {
    display: block;
    margin: 0;
    padding: 0 0 0 2em;
    line-height: 1.5em;
    color: #999
}

.single-resume .resume-aside .location a:before {
    display: inline-block;
    width: 16px;
    height: 16px;
    -webkit-font-smoothing: antialiased;
    font-family: job-manager!important;
    text-decoration: none;
    font-weight: 400;
    font-style: normal;
    vertical-align: top;
    font-size: 16px;
    margin: 0 3px 0 0;
    *overflow: auto;
    *zoom:1;*display: inline;
    content: '\e81d'
}

.single-resume .resume-aside .resume-links {
    line-height: 1.5em;
    list-style: none outside;
    padding: 0;
    margin: 0;
    overflow: hidden;
    zoom:1;float: right
}

.single-resume .resume-aside .resume-links li {
    margin: 0 0 0 1em;
    padding: 0;
    float: left
}

.single-resume .resume-aside .resume-links .resume-link a:before {
    display: inline-block;
    width: 16px;
    height: 16px;
    -webkit-font-smoothing: antialiased;
    font-family: job-manager!important;
    text-decoration: none;
    font-weight: 400;
    font-style: normal;
    vertical-align: top;
    font-size: 16px;
    margin: 0 3px 0 0;
    *overflow: auto;
    *zoom:1;*display: inline;
    content: '\e809'
}

.single-resume .resume-aside .resume-links .resume-file a:before {
    display: inline-block;
    width: 16px;
    height: 16px;
    -webkit-font-smoothing: antialiased;
    font-family: job-manager!important;
    text-decoration: none;
    font-weight: 400;
    font-style: normal;
    vertical-align: top;
    font-size: 16px;
    margin: 0 3px 0 0;
    *overflow: auto;
    *zoom:1;*display: inline;
    content: '\e81b'
}

.single-resume .resume-aside .resume-links .resume-link-twitter a:before {
    content: '\e80a'
}

.single-resume .resume-aside .resume-links .resume-link-linkedin a:before {
    content: '\e80b'
}

.single-resume .resume-aside .resume-links .resume-link-github a:before {
    content: '\e810'
}

.single-resume .resume-aside .resume-links .resume-link-dribbble a:before {
    content: '\e811'
}

.single-resume .resume-aside .resume-links .resume-link-facebook a:before {
    content: '\e80c'
}

.single-resume .resume-aside .resume-links .resume-link-wordpress a:before {
    content: '\e812'
}

.single-resume .resume-aside .resume-links .resume-link-google a:before {
    content: '\e813'
}

.single-resume .resume-aside .resume-links .resume-link-pinterest a:before {
    content: '\e814'
}

.single-resume .resume-aside .resume-links .resume-link-flickr a:before {
    content: '\e815'
}

.single-resume .resume-aside .resume-links .resume-link-instagram a:before {
    content: '\e816'
}

.single-resume .resume-aside .resume-links .resume-link-skype a:before {
    content: '\e817'
}

#resume-manager-candidate-dashboard table td {
    vertical-align: top
}

#resume-manager-candidate-dashboard table td small {
    font-size: .92em;
    color: #999;
    display: block
}

#resume-manager-candidate-dashboard table ul.candidate-dashboard-actions {
    margin: 0;
    padding: 0;
    visibility: hidden;
    font-size: .92em
}

#resume-manager-candidate-dashboard table ul.candidate-dashboard-actions li {
    float: none;
    display: inline;
    padding: 0;
    margin: 0 .5em 0 0;
    font-weight: 400;
    list-style: none outside
}

#resume-manager-candidate-dashboard table ul.candidate-dashboard-actions li:after {
    padding: 0 0 0 .5em;
    content: "\2023"
}

#resume-manager-candidate-dashboard table ul.candidate-dashboard-actions li:last-child:after {
    content: ''
}

#resume-manager-candidate-dashboard table ul.candidate-dashboard-actions li .candidate-dashboard-action-delete {
    color: red
}

#resume-manager-candidate-dashboard table tr:focus ul.candidate-dashboard-actions,#resume-manager-candidate-dashboard table tr:hover ul.candidate-dashboard-actions {
    visibility: visible
}

.resume_filters {
    background: #eee;
    zoom:1}

.resume_filters:after,.resume_filters:before {
    content: "";
    display: table
}

.resume_filters:after {
    clear: both
}

.resume_filters .search_resumes {
    padding: 1em;
    zoom:1}

.resume_filters .search_resumes:after,.resume_filters .search_resumes:before {
    content: "";
    display: table
}

.resume_filters .search_resumes:after {
    clear: both
}

.resume_filters .search_resumes div {
    width: 50%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.resume_filters .search_resumes div label {
    display: none
}

.resume_filters .search_resumes div.filter_first,.resume_filters .search_resumes div.search_keywords {
    float: left;
    padding-right: .5em
}

.resume_filters .search_resumes div.filter_last,.resume_filters .search_resumes div.search_location {
    float: right;
    padding-left: .5em
}

.resume_filters .search_resumes div.filter_wide,.resume_filters .search_resumes div.search_categories {
    padding-top: .5em;
    clear: both;
    width: 100%
}

.resume_filters .search_resumes div a {
    padding: .25em
}

.resume_filters .search_resumes div a.active {
    background: #ddd;
    text-decoration: none
}

.resume_filters .search_resumes input,.resume_filters .search_resumes select {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%
}

.resume_filters .resume_types {
    list-style: none outside;
    margin: 0;
    padding: 0;
    font-size: .83em;
    background: #f9f9f9;
    border-top: 1px solid #e5e5e5;
    zoom:1}

.resume_filters .resume_types:after,.resume_filters .resume_types:before {
    content: "";
    display: table
}

.resume_filters .resume_types:after {
    clear: both
}

.resume_filters .resume_types li {
    margin: 0;
    padding: .5em 1em;
    float: left;
    border-right: 1px solid #eee
}

.resume_filters .resume_types li:last-child {
    border-right: 0
}

.resume_filters .showing_resumes {
    padding: .5em 1em;
    display: none;
    font-size: .83em;
    background: #f9f9f9;
    border-top: 1px solid #e5e5e5
}

.resume_filters .showing_resumes a {
    float: right;
    padding-left: 10px
}

.load_more_resumes {
    text-align: center;
    display: block;
    padding: 1em 1em 1em 2em;
    border-bottom: 1px solid #eee;
    font-weight: 700
}

.load_more_resumes.loading {
    background: url(../images/ajax-loader.gif) no-repeat center
}

.load_more_resumes.loading strong {
    visibility: hidden
}

.load_more_resumes:focus,.load_more_resumes:hover {
    background-color: #fcfcfc
}

div.resumes {
    margin-bottom: 1em
}

div.resumes ul.resumes {
    margin: 0
}

ul.resumes {
    padding: 0;
    margin: 0;
    border-top: 1px solid #eee
}

ul.resumes.loading {
    background: url(../images/ajax-loader.gif) no-repeat center
}

ul.resumes li.no_resumes_found,ul.resumes li.resume {
    list-style: none outside;
    padding: 0;
    margin: 0;
    border-bottom: 1px solid #eee
}

ul.resumes li.no_resumes_found.no_resumes_found,ul.resumes li.resume.no_resumes_found {
    padding: 1em;
    border-bottom: 1px solid #eee
}

ul.resumes li.no_resumes_found a,ul.resumes li.resume a {
    display: block;
    padding: 1em 1em 1em 2em;
    overflow: hidden;
    zoom:1;position: relative;
    line-height: 3em;
    font-size: 1em;
    text-decoration: none
}

ul.resumes li.no_resumes_found a:focus,ul.resumes li.no_resumes_found a:hover,ul.resumes li.resume a:focus,ul.resumes li.resume a:hover {
    background-color: #fcfcfc
}

ul.resumes li.no_resumes_found a img,ul.resumes li.resume a img {
    width: 42px;
    height: 42px;
    position: absolute;
    left: 1em;
    float: left;
    margin-right: 1em;
    vertical-align: middle;
    box-shadow: none
}

ul.resumes li.no_resumes_found a .resume-posted-column,ul.resumes li.no_resumes_found a div.candidate-column,ul.resumes li.no_resumes_found a div.location-column,ul.resumes li.resume a .resume-posted-column,ul.resumes li.resume a div.candidate-column,ul.resumes li.resume a div.location-column {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

ul.resumes li.no_resumes_found a div.candidate-column,ul.resumes li.resume a div.candidate-column {
    float: left;
    width: 50%;
    padding: 0 1em 0 42px;
    line-height: 1.5em
}

ul.resumes li.no_resumes_found a div.candidate-column h3,ul.resumes li.resume a div.candidate-column h3 {
    margin: 0;
    padding: 0;
    font-size: 1em;
    line-height: 1.5em
}

ul.resumes li.no_resumes_found a div.candidate-column .candidate-title,ul.resumes li.resume a div.candidate-column .candidate-title {
    color: #999;
    font-size: .75em
}

ul.resumes li.no_resumes_found a div.candidate-column .candidate-title .tagline,ul.resumes li.resume a div.candidate-column .candidate-title .tagline {
    margin-left: .5em
}

ul.resumes li.no_resumes_found a .candidate-location-column,ul.resumes li.resume a .candidate-location-column {
    float: left;
    text-align: left;
    width: 25%;
    padding: 0;
    color: #999;
    font-size: .75em
}

ul.resumes li.no_resumes_found a .candidate-location-column .candidate-location:before,ul.resumes li.resume a .candidate-location-column .candidate-location:before {
    display: inline-block;
    width: 16px;
    height: 16px;
    -webkit-font-smoothing: antialiased;
    font-family: job-manager!important;
    text-decoration: none;
    font-weight: 400;
    font-style: normal;
    vertical-align: top;
    font-size: 16px;
    margin: 0 3px 0 0;
    *overflow: auto;
    *zoom:1;*display: inline;
    content: '\e80d'
}

ul.resumes li.no_resumes_found a .resume-posted-column,ul.resumes li.resume a .resume-posted-column {
    float: right;
    text-align: right;
    width: 25%;
    padding: 0 0 0 1em;
    margin: 0;
    font-size: .75em;
    color: #999
}

ul.resumes li.no_resumes_found a .resume-posted-column date:before,ul.resumes li.resume a .resume-posted-column date:before {
    display: inline-block;
    width: 16px;
    height: 16px;
    -webkit-font-smoothing: antialiased;
    font-family: job-manager!important;
    text-decoration: none;
    font-weight: 400;
    font-style: normal;
    vertical-align: top;
    font-size: 16px;
    margin: 0 3px 0 0;
    *overflow: auto;
    *zoom:1;*display: inline;
    content: '\e80f'
}

ul.resumes li.no_resumes_found a .resume-meta,ul.resumes li.resume a .resume-meta {
    line-height: 2.03em
}

ul.resumes li.no_resumes_found a .resume-category:before,ul.resumes li.resume a .resume-category:before {
    display: inline-block;
    width: 16px;
    height: 16px;
    -webkit-font-smoothing: antialiased;
    font-family: job-manager!important;
    text-decoration: none;
    font-weight: 400;
    font-style: normal;
    vertical-align: top;
    font-size: 16px;
    margin: 0 3px 0 0;
    *overflow: auto;
    *zoom:1;*display: inline;
    content: '\e818'
}

.single-job_listing .apply_with_resume label {
    display: block
}

.single-job_listing .apply_with_resume select {
    width: 50%
}

.single-job_listing .apply_with_resume textarea {
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}
