﻿.gjm-map img {
    max-width: initial!important
}

.job_filters .search_jobs .gjm-map-wrapper {
    background: #eee
}

.job_filters .search_jobs .gjm-dropdown-wrapper {
    margin-top: .5em
}

.job_filters .search_jobs .gjm-radius-wrapper {
    float: left;
    padding-right: 10px
}

.job_filters .search_jobs .gjm-units-wrapper {
    float: left;
    padding-left: 10px
}

.job_filters .search_jobs .gjm-orderby-wrapper {
    float: right;
    padding-left: 10px
}

.job_filters .search_jobs .gjm-locator-button-wrapper {
    width: 100%;
    margin-top: .5em;
    display: inline-block;
    clear: both
}

.job_filters .search_jobs .gjm-locator-button {
    width: 100%;
    color: #555
}

.job_filters .search_jobs .gjm-locator-loader {
    margin: 0 46%;
    margin-top: 5px;
    display: none;
    width: 30px;
    height: auto
}

.job_filters .search_jobs .gjm-filters-count-1 {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    margin-right: 0
}

.job_filters .search_jobs .gjm-filters-count-2 {
    width: 50%;
    max-width: 50%;
    margin-right: 0
}

.job_filters .search_jobs .gjm-filters-count-3 {
    width: 33.3%;
    max-width: 33.3%;
    margin-right: 0
}

.gjm-distance-wrapper {
    background: #f9f9f9;
    padding: 2px 4px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-left: 10px;
    font-size: 12px
}

.gjm-marker-clicked {
    background: #f9f9f9;
    box-shadow: 0 0 6px #ddd
}

.gjm-single-map-wrapper {
    display: inline-block;
    border: 5px solid #eee;
    box-sizing: border-box;
    margin-top: 5px
}

.wp-job-manager-categories .job_filters .search_jobs .gjm-dropdown-wrapper,.wp-job-manager-categories .job_filters .search_jobs .gjm-locator-button-wrapper {
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 0;
    margin-bottom: 15px
}

@media(max-width: 800px) {
    .search_jobs input[type=submit] {
        margin-bottom:0
    }

    .job_filters .search_jobs .gjm-locator-button-wrapper,.job_filters .search_jobs .gjm-dropdown-wrapper {
        width: 100%;
        clear: both;
        max-width: initial;
        margin-top: .5em;
        padding: 0
    }
}
