﻿.gamebookers-color-scheme .resume_preview_title #resume_preview_submit_button,.gamebookers-color-scheme .job_listing_preview_title #job_preview_submit_button,.gamebookers-color-scheme .poll_result_bar>div>div,.gamebookers-color-scheme .comment-content .reply-edit-container a.comment-reply-link:hover,.gamebookers-color-scheme .comment-content .reply-edit-container a.comment-edit-link:hover,.gamebookers-color-scheme #author-info #author-description #author-link a:hover,.gamebookers-color-scheme .search.widget .btn,.gamebookers-color-scheme .tagcloud .tag_cloud_post_tag a:hover,.gamebookers-color-scheme .blue-button,.gamebookers-color-scheme .wrapper .content .blue-button {
    background-color: #f90
}

.gamebookers-color-scheme .ui-state-default.ui-corner-top.ui-tabs-active.ui-state-active {
    background-color: #f90!important
}

.gamebookers-color-scheme .wrapper .job-manager-form .resume-manager-add-row,.gamebookers-color-scheme .tagcloud .tag_cloud_post_tag a:hover {
    color: #fff
}

.gamebookers-color-scheme .wrapper h1,.gamebookers-color-scheme .wrapper .single-resume-content h2,.gamebookers-color-scheme .single_job_sidebar .job_company_name,.gamebookers-color-scheme .author-name,.gamebookers-color-scheme .comment-content .fn,.gamebookers-color-scheme .comment-content .fn a,.gamebookers-color-scheme .page_title,.gamebookers-color-scheme .wrapper h3,.gamebookers-color-scheme .wrapper .widget:not(.tagcloud) a,.gamebookers-color-scheme .wrapper .content a,.gamebookers-color-scheme .footer-wrapper .footer-content ul.footer-menu li a:hover,.gamebookers-color-scheme .headerimg .jobs-statistics .jobs-count,.gamebookers-color-scheme .headerimg .jobs-statistics .employers-count {
    color: #f90
}

.gamebookers-color-scheme .wrapper .poll_answer:hover,.gamebookers-color-scheme .footer-wrapper .footer-content {
    border-color: #f90
}

.gamebookers-color-scheme ul.job_listings li.type-job_listing:hover {
    box-shadow: 0 0 0 1px #f90;
    -webkit-box-shadow: 0 0 0 1px #f90
}

.gamebookers-color-scheme ul.job_listings li.type-job_listing.job_position_featured a:hover {
    box-shadow: 0 0 0 5px #f90;
    -webkit-box-shadow: 0 0 0 5px #f90
}

.gamebookers-color-scheme ul.resumes li.resume.featured_resume:hover {
    box-shadow: 0 0 0 5px #3299bb;
    -webkit-box-shadow: 0 0 0 5px #3299bb
}

.gamebookers-color-scheme ul.resumes li.type-resume:hover {
    box-shadow: 0 0 0 1px #3299bb;
    -webkit-box-shadow: 0 0 0 1px #3299bb
}

.gamebookers-color-scheme ul.resumes li.resume.featured_resume:hover {
    box-shadow: 0 0 0 5px #3299bb;
    -webkit-box-shadow: 0 0 0 5px #3299bb
}

.gamebookers-color-scheme .headerimg .resumes-statistics .registered-users-count,.gamebookers-color-scheme .headerimg .resumes-statistics .active-resumes-count,.gamebookers-color-scheme ul.resumes li.resume.featured_resume a:hover .candidate-column h3,.gamebookers-color-scheme .headerimg .resumes-statistics .registered-users-count,.gamebookers-color-scheme .headerimg .resumes-statistics .active-resumes-count,.gamebookers-color-scheme .header .top-header .logged-in-container .user-name {
    color: #3299bb
}

.gamebookers-color-scheme ul.resumes li.resume.featured_resume a div.candidate-column {
    background-color: rgba(50,153,187,.9)
}

.gamebookers-color-scheme .single_resume_sidebar .resume-aside .resume_photo .resume_cand_name,.gamebookers-color-scheme .wrapper .job-manager-form .resume-manager-add-row,.gamebookers-color-scheme .wpb_thumbnails .isotope-item .post-thumb,body.gamebookers-color-scheme .wpb_image_grid .wpb_image_grid_ul .isotope-item:hover,.gamebookers-color-scheme .sf-menu li li.current-menu-item,.gamebookers-color-scheme .sf-menu .sub-menu .current-page-ancestor,.gamebookers-color-scheme .sf-menu .sub-menu .current-menu-ancestor,.gamebookers-color-scheme .sf-menu .sub-menu .current-menu-parent,.gamebookers-color-scheme .sf-menu .sub-menu .current-page-parent,.gamebookers-color-scheme .sf-menu .sub-menu .current_page_parent,.gamebookers-color-scheme .wrapper .content .green-button,.gamebookers-color-scheme .green-button {
    background-color: #3299bb
}

