﻿.goldfish-color-scheme .resume_preview_title #resume_preview_submit_button,.goldfish-color-scheme .job_listing_preview_title #job_preview_submit_button,.goldfish-color-scheme .poll_result_bar>div>div,.goldfish-color-scheme .comment-content .reply-edit-container a.comment-reply-link:hover,.goldfish-color-scheme .comment-content .reply-edit-container a.comment-edit-link:hover,.goldfish-color-scheme #author-info #author-description #author-link a:hover,.goldfish-color-scheme .search.widget .btn,.goldfish-color-scheme .tagcloud .tag_cloud_post_tag a:hover,.goldfish-color-scheme .blue-button,.goldfish-color-scheme .wrapper .content .blue-button {
    background-color: #69d2e7
}

.goldfish-color-scheme .ui-state-default.ui-corner-top.ui-tabs-active.ui-state-active {
    background-color: #69d2e7!important
}

.goldfish-color-scheme .wrapper .job-manager-form .resume-manager-add-row,.goldfish-color-scheme .tagcloud .tag_cloud_post_tag a:hover {
    color: #fff
}

.goldfish-color-scheme .wrapper h1,.goldfish-color-scheme .wrapper .single-resume-content h2,.goldfish-color-scheme .single_job_sidebar .job_company_name,.goldfish-color-scheme .author-name,.goldfish-color-scheme .comment-content .fn,.goldfish-color-scheme .comment-content .fn a,.goldfish-color-scheme .page_title,.goldfish-color-scheme .wrapper h3,.goldfish-color-scheme .wrapper .widget:not(.tagcloud) a,.goldfish-color-scheme .wrapper .content a,.goldfish-color-scheme .footer-wrapper .footer-content ul.footer-menu li a:hover,.goldfish-color-scheme .headerimg .jobs-statistics .jobs-count,.goldfish-color-scheme .headerimg .jobs-statistics .employers-count {
    color: #69d2e7
}

.goldfish-color-scheme .wrapper .poll_answer:hover,.goldfish-color-scheme .footer-wrapper .footer-content {
    border-color: #69d2e7
}

.goldfish-color-scheme ul.job_listings li.type-job_listing:hover {
    box-shadow: 0 0 0 1px #69d2e7;
    -webkit-box-shadow: 0 0 0 1px #69d2e7
}

.goldfish-color-scheme ul.job_listings li.type-job_listing.job_position_featured a:hover {
    box-shadow: 0 0 0 5px #69d2e7;
    -webkit-box-shadow: 0 0 0 5px #69d2e7
}

.goldfish-color-scheme ul.resumes li.resume.featured_resume:hover {
    box-shadow: 0 0 0 5px #f38630;
    -webkit-box-shadow: 0 0 0 5px #f38630
}

.goldfish-color-scheme ul.resumes li.type-resume:hover {
    box-shadow: 0 0 0 1px #f38630;
    -webkit-box-shadow: 0 0 0 1px #f38630
}

.goldfish-color-scheme ul.resumes li.resume.featured_resume:hover {
    box-shadow: 0 0 0 5px #f38630;
    -webkit-box-shadow: 0 0 0 5px #f38630
}

.goldfish-color-scheme .headerimg .resumes-statistics .registered-users-count,.goldfish-color-scheme .headerimg .resumes-statistics .active-resumes-count,.goldfish-color-scheme ul.resumes li.resume.featured_resume a:hover .candidate-column h3,.goldfish-color-scheme .headerimg .resumes-statistics .registered-users-count,.goldfish-color-scheme .headerimg .resumes-statistics .active-resumes-count,.goldfish-color-scheme .header .top-header .logged-in-container .user-name {
    color: #f38630
}

.goldfish-color-scheme ul.resumes li.resume.featured_resume a div.candidate-column {
    background-color: rgba(243,134,48,.9)
}

.goldfish-color-scheme .single_resume_sidebar .resume-aside .resume_photo .resume_cand_name,.goldfish-color-scheme .wrapper .job-manager-form .resume-manager-add-row,.goldfish-color-scheme .wpb_thumbnails .isotope-item .post-thumb,body.goldfish-color-scheme .wpb_image_grid .wpb_image_grid_ul .isotope-item:hover,.goldfish-color-scheme .sf-menu li li.current-menu-item,.goldfish-color-scheme .sf-menu .sub-menu .current-page-ancestor,.goldfish-color-scheme .sf-menu .sub-menu .current-menu-ancestor,.goldfish-color-scheme .sf-menu .sub-menu .current-menu-parent,.goldfish-color-scheme .sf-menu .sub-menu .current-page-parent,.goldfish-color-scheme .sf-menu .sub-menu .current_page_parent,.goldfish-color-scheme .wrapper .content .green-button,.goldfish-color-scheme .green-button {
    background-color: #f38630
}
