﻿.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0
}

.clearfix {
    display: block
}

html[xmlns] .clearfix {
    display: block
}

* html .clearfix {
    height: 1%
}

.ldc-ul_cont {
    position: relative;
    background-color: #e0e0e0;
    background-image: linear-gradient(to bottom,#FAFAFA 0px,#DCDCDC 100%);
    border-color: #ccc #ccc #aaa;
    box-shadow: 0 0 1px #fff inset;
    text-shadow: 0 1px 0 #fff;
    border-radius: 2px 2px 2px 2px;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    font-size: 11px;
    font-weight: 700;
    height: 2em;
    margin-bottom: 15px;
    outline: 0;
    padding: 0 .91em;
    position: relative;
    vertical-align: middle;
    white-space: nowrap;
    word-wrap: normal;
    float: left
}

.ldc-ul_cont img {
    background: none repeat scroll 0 0 transparent;
    box-shadow: none;
    margin: 0 3px;
    position: relative;
    top: 3px
}

