﻿.job_listing_packages {
    padding: 0 1em;
    border: 5px solid #eee
}

.job_listing_packages ul.job_packages {
    margin: 0;
    padding: 0;
    list-style: none outside
}

.job_listing_packages ul.job_packages li {
    border-bottom: 1px dotted #eee;
    padding: 1em 0;
    list-style: none outside;
    margin: 0
}

.job_listing_packages ul.job_packages li label {
    font-weight: 700;
    cursor: pointer
}

.job_listing_packages ul.job_packages li:last-child {
    border-bottom: 0
}

.job_listing_packages_title,.entry-content .job_listing_packages_title {
    padding: .5em 1em;
    vertical-align: middle;
    position: relative;
    background: #eee
}

.job_listing_packages_title h2,.entry-content .job_listing_packages_title h2 {
    margin: 0;
    clear: none
}

.job_listing_packages_title .button,.entry-content .job_listing_packages_title .button {
    float: right;
    margin-left: .25em
}
