﻿/*!Pushy - v0.9.1 - 2013-9-16
* Pushy is a responsive off-canvas navigation menu using CSS transforms & transitions.
* https://github.com/christophery/pushy/
* by Christopher Yee*/
.pushy {
    position: fixed;
    width: 200px;
    height: 100%;
    top: 0;
    z-index: 9999;
    background: #fff;
    -webkit-box-shadow: inset -10px 0 6px -9px rgba(0,0,0,.7);
    -moz-box-shadow: inset -10px 0 6px -9px rgba(0,0,0,.7);
    box-shadow: inset -10px 0 6px -9px rgba(0,0,0,.7);
    overflow: auto;
    -webkit-overflow-scrolling: touch
}

.pushy a {
    display: block;
    color: #000;
    padding: 15px 30px;
    border-bottom: 1px solid rgba(0,0,0,.1);
    border-top: 1px solid rgba(255,255,255,.1);
    text-decoration: none;
    font-family: open sans condensed,sans-serif;
    font-size: 21px
}

.pushy a:hover {
    background: #3399fe;
    color: #fff
}

.pushy-left {
    -webkit-transform: translate3d(-200px,0,0);
    -moz-transform: translate3d(-200px,0,0);
    -ms-transform: translate3d(-200px,0,0);
    -o-transform: translate3d(-200px,0,0);
    transform: translate3d(-200px,0,0)
}

.pushy-open {
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0)
}

.container-push,.push-push {
    -webkit-transform: translate3d(200px,0,0);
    -moz-transform: translate3d(200px,0,0);
    -ms-transform: translate3d(200px,0,0);
    -o-transform: translate3d(200px,0,0);
    transform: translate3d(200px,0,0)
}

.pushy,#container,.push {
    -webkit-transition: -webkit-transform .2s cubic-bezier(.16,.68,.43,.99);
    -moz-transition: -moz-transform .2s cubic-bezier(.16,.68,.43,.99);
    -o-transition: -o-transform .2s cubic-bezier(.16,.68,.43,.99);
    transition: transform .2s cubic-bezier(.16,.68,.43,.99);
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000
}

.site-overlay {
    display: none
}

.pushy-active .site-overlay {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 200px;
    z-index: 9999
}

@media screen and (max-width: 768px) {
    .pushy {
        font-size:1em
    }
}

