﻿.red-color-scheme .resume_preview_title #resume_preview_submit_button,.red-color-scheme .job_listing_preview_title #job_preview_submit_button,.red-color-scheme .poll_result_bar>div>div,.red-color-scheme .comment-content .reply-edit-container a.comment-reply-link:hover,.red-color-scheme .comment-content .reply-edit-container a.comment-edit-link:hover,.red-color-scheme #author-info #author-description #author-link a:hover,.red-color-scheme .search.widget .btn,.red-color-scheme .tagcloud .tag_cloud_post_tag a:hover,.red-color-scheme .blue-button,.red-color-scheme .wrapper .content .blue-button {
    background-color: #ae2908
}

.red-color-scheme .ui-state-default.ui-corner-top.ui-tabs-active.ui-state-active {
    background-color: #ae2908!important
}

.red-color-scheme .wrapper .job-manager-form .resume-manager-add-row,.red-color-scheme .tagcloud .tag_cloud_post_tag a:hover {
    color: #fff
}

.red-color-scheme .wrapper h1,.red-color-scheme .wrapper .single-resume-content h2,.red-color-scheme .single_job_sidebar .job_company_name,.red-color-scheme .author-name,.red-color-scheme .comment-content .fn,.red-color-scheme .comment-content .fn a,.red-color-scheme .page_title,.red-color-scheme .wrapper h3,.red-color-scheme .wrapper .widget:not(.tagcloud) a,.red-color-scheme .wrapper .content a,.red-color-scheme .footer-wrapper .footer-content ul.footer-menu li a:hover,.red-color-scheme .headerimg .jobs-statistics .jobs-count,.red-color-scheme .headerimg .jobs-statistics .employers-count {
    color: #ae2908
}

.red-color-scheme .wrapper .poll_answer:hover,.red-color-scheme .footer-wrapper .footer-content {
    border-color: #ae2908
}

.red-color-scheme ul.job_listings li.type-job_listing:hover {
    box-shadow: 0 0 0 1px #ae2908;
    -webkit-box-shadow: 0 0 0 1px #ae2908
}

.red-color-scheme ul.job_listings li.type-job_listing.job_position_featured a:hover {
    box-shadow: 0 0 0 5px #ae2908;
    -webkit-box-shadow: 0 0 0 5px #ae2908
}

.red-color-scheme ul.resumes li.resume.featured_resume:hover {
    box-shadow: 0 0 0 5px #f7d557;
    -webkit-box-shadow: 0 0 0 5px #f7d557
}

.red-color-scheme ul.resumes li.type-resume:hover {
    box-shadow: 0 0 0 1px #f7d557;
    -webkit-box-shadow: 0 0 0 1px #f7d557
}

.red-color-scheme ul.resumes li.resume.featured_resume:hover {
    box-shadow: 0 0 0 5px #f7d557;
    -webkit-box-shadow: 0 0 0 5px #f7d557
}

.red-color-scheme .headerimg .resumes-statistics .registered-users-count,.red-color-scheme .headerimg .resumes-statistics .active-resumes-count,.red-color-scheme ul.resumes li.resume.featured_resume a:hover .candidate-column h3,.red-color-scheme .headerimg .resumes-statistics .registered-users-count,.red-color-scheme .headerimg .resumes-statistics .active-resumes-count,.red-color-scheme .header .top-header .logged-in-container .user-name {
    color: #f7d557
}

.red-color-scheme ul.resumes li.resume.featured_resume a div.candidate-column {
    background-color: rgba(247,213,87,.9)
}

.red-color-scheme .single_resume_sidebar .resume-aside .resume_photo .resume_cand_name,.red-color-scheme .wrapper .job-manager-form .resume-manager-add-row,.red-color-scheme .wpb_thumbnails .isotope-item .post-thumb,body.red-color-scheme .wpb_image_grid .wpb_image_grid_ul .isotope-item:hover,.red-color-scheme .sf-menu li li.current-menu-item,.red-color-scheme .sf-menu .sub-menu .current-page-ancestor,.red-color-scheme .sf-menu .sub-menu .current-menu-ancestor,.red-color-scheme .sf-menu .sub-menu .current-menu-parent,.red-color-scheme .sf-menu .sub-menu .current-page-parent,.red-color-scheme .sf-menu .sub-menu .current_page_parent,.red-color-scheme .wrapper .content .green-button,.red-color-scheme .green-button {
    background-color: #f7d557
}
