﻿/*!* Responsive*/
@-ms-viewport {
    width: device-width;
}

@media(max-width: 767px) {
    body .sf-menu {
        display:none
    }

    .top-header .logo {
        width: 100%;
        margin: 0 auto;
        text-align: center
    }

    .top-header .logo img {
        margin: 15px auto;
        max-width: 50%
    }

    .top-header .postajob {
        width: 120px
    }

    .top-header .postajob a.blue-button {
        font-size: 24px
    }

    .header .top-header .menu-btn {
        display: block;
        margin-right: 2px
    }

    .logged-in .header .top-header .buttons {
        width: 320px
    }

    body .wrapper .top-menu-container {
        display: none
    }

    .headerimg .addresume {
        bottom: 136px;
        position: absolute;
        right: 0;
        left: auto;
        z-index: 50;
        width: 120px
    }

    .headerimg .postajob {
        position: absolute;
        bottom: 37px;
        left: auto;
        right: 0;
        z-index: 1
    }

    .headerimg .resumes-statistics {
        bottom: 116px
    }

    .headerimg .resumes-statistics,.headerimg .jobs-statistics {
        width: 60%;
        height: 100px;
        position: absolute;
        left: 0;
        top: auto;
        box-shadow: none
    }

    .headerimg .jobs-statistics {
        bottom: 16px;
        right: auto
    }

    .headerimg .jobs-statistics .jobs-counter,.headerimg .jobs-statistics .employers-counted,.headerimg .resumes-statistics .registered-users,.headerimg .resumes-statistics .active-resumes {
        width: 50%;
        margin-top: 20px
    }

    .headerimg .jobs-statistics span,.headerimg .resumes-statistics span {
        font-size: 16px
    }

    .headerimg .jobs-statistics:after,.headerimg .resumes-statistics:after {
        display: none
    }

    .headerimg .blue-button,.headerimg .green-button {
        font-size: 24px;
        width: 120px
    }

    .single_job_listing .application .application_details {
        width: 100%;
        margin-top: 15px
    }

    .single_job_listing .application .application_details::before,.single_job_listing .application .application_details::after {
        display: none
    }

    .wrapper .pricing-button .blue-button {
        width: 110px;
        font-size: 21px!important
    }

    .comment-form .comment-notes {
        float: left;
        width: 100%
    }

    .comment-form-author,.comment-form-email,.comment_auth_email {
        width: 100%
    }

    .comment-form .comment_auth_email input,.comment-form .comment_auth_email input {
        width: 100%;
        box-sizing: border-box
    }

    body ul.job_listings li.job_listing a .position {
        width: 70%;
        padding: 12px 0 0 100px
    }

    body ul.job_listings li.job_listing a .position .job_types,body ul.resumes li.resume a .candidate-column .resume_categoryes {
        clear: left
    }

    body ul.resumes li.resume a .candidate-column .resume_category {
        margin: 0 5px 0 0
    }

    body ul.resumes li.resume a .candidate-column {
        padding: 12px 0 0 100px
    }

    body ul.job_listings li.job_listing a .position .job_types span.job-type {
        margin-top: 0;
        margin-left: 0
    }

    body ul.job_listings li.job_listing a ul.meta {
        margin: 12px 1em 0 0;
        width: 25%
    }

    body ul.job_listings li.job_listing a ul.meta .date {
        font-size: 9px
    }

    ul.job_listings li.job_listing a div.position h3,ul.resumes li.resume a div.candidate-column h3 {
        line-height: 18px;
        font-size: 13px
    }

    body ul.job_listings li.job_listing a .position {
        padding: 7px 0 0 100px
    }

    body ul.job_listings li.job_listing a .position span,body ul.resumes li.resume a .candidate-column .candidate-title span {
        font-size: 9px
    }

    body ul.job_listings li.job_listing a .position .job_types span.job-type {
        margin-top: 6px;
        margin-right: 5px
    }

    ul.job_listings li.job_listing.job_position_featured a div.position h3 {
        line-height: 1.5em
    }

    body ul.resumes li.resume a .resume-posted-column {
        font-size: 9px
    }

    body ul.job_listings li.job_listing a .position span.job-type,body ul.resumes li.resume a .candidate-column .resume_category span {
        font-size: 7px;
        line-height: 14px
    }

    ul.job_listings li.job_listing.job_position_featured a div.position h3,ul.resumes li.resume.featured_resume a div.candidate-column h3 {
        font-size: 20px;
        line-height: 1.5em
    }

    ul.resumes li.resume.featured_resume a .candidate-column .candidate-title span {
        font-size: 12px
    }

    ul.job_listings li.job_listing a .meta li,li.job_listing a ul.meta,ul.resumes li.resume a div.resume-meta {
        display: none
    }

    .header.no_submit_button .top-header .logged-in-container {
        width: 51%
    }

    .wrapper ul.job_listings li.indeed_job_listing a div.position span.job-type {
        margin-top: 3px
    }

    body ul.job_listings li.indeed_job_listing a .position {
        width: 100%
    }

    .morph-button-modal-2.open .morph-content.resume {
        margin: -7% 0 0 -37%
    }

    .morph-button-modal-2.open .morph-content {
        margin: -11% 0 0 -35%
    }
}

@media(max-width: 480px) {
    .header .top-header .logged-in-container {
        width:30%
    }

    .logged-in .header .top-header .buttons {
        width: 250px
    }

    .top-header .postajob {
        width: 99px
    }

    .top-header .postajob a.blue-button {
        font-size: 20px
    }

    body .wrapper .pricing-button .blue-button {
        width: 170px;
        font-size: 28px!important
    }

    .comment-form .comment-notes {
        float: left;
        width: 100%
    }

    .comment-form-author,.comment-form-email,.comment_auth_email {
        width: 100%
    }

    .comment-form .comment_auth_email input,.comment-form .comment_auth_email input {
        width: 100%;
        box-sizing: border-box
    }

    .loginform {
        width: 70%
    }

    html body ul.job_listings li.job_listing a ul.meta {
        margin: 14px 1em 0 0
    }

    html body ul.job_listings li.job_listing a .position {
        padding: 5px 0 0 100px
    }

    body ul.resumes li.resume a div.resume-meta {
        margin: 20px 1em 0 0;
        font-size: 9px
    }

    ul.resumes li.resume a div.candidate-column span {
        font-size: 9px
    }

    ul.resumes li.resume a div.candidate-column h3,ul.job_listings li.job_listing a div.position h3 {
        font-size: 17px
    }

    .wrapper .job-manager-jobs,.wrapper .job-manager-jobs tr td a {
        font-size: 11px
    }

    .wrapper .job-manager-jobs tr td {
        padding: 4px 8px 1px 3px
    }

    .wrapper .resume-manager-resumes,.wrapper .resume-manager-resumes tr td a {
        font-size: 12px
    }

    ul.job_listings li.indeed_job_listing a div.position .company .tagline {
        display: none
    }

    ul.job_listings li.indeed_job_listing a div.position h3 {
        font-size: 13px;
        float: none
    }

    .wrapper ul.job_listings li.indeed_job_listing a div.position span.job-type {
        margin-left: 0
    }

    .wrapper .morph-button-modal-2.open .morph-content.resume {
        width: 290px;
        margin: -7% 0 0 -50%
    }

    .wrapper .morph-button-modal-2.open .morph-content {
        width: 290px;
        margin: -1% 0 0 -50%
    }
}

@media(max-width: 570px) {
    .wrapper .pricing-button .blue-button {
        width:90px;
        font-size: 18px!important
    }

    body ul.job_listings li.job_listing a ul.meta {
        margin: 5px 1em 0 0
    }
}

@media(min-width: 768px) and (max-width:979px) {
    .top-header .postajob {
        width:135px
    }

    .logged-in .header .top-header .buttons {
        width: 244px
    }

    .logged-in .header.no_submit_button .top-header .buttons {
        width: 120px
    }

    .header .top-header .logged-in-container {
        width: 49%
    }

    .header .top-header .logged-in-container .user-name {
        max-width: 100%
    }

    body .sf-menu li a {
        font-size: 16px;
        padding: 0 5px
    }

    .sf-menu .menu-item-has-children:after {
        right: 7px
    }

    .sf-menu .menu-item-has-children a {
        padding-right: 5px
    }

    .top-header .postajob {
        width: 120px
    }

    .top-header .postajob a.blue-button {
        font-size: 24px
    }

    .wrapper .pricing-button .blue-button {
        width: 130px;
        font-size: 24px!important
    }

    .comment-form .comment-notes {
        float: left;
        width: 100%
    }

    .comment-form-author,.comment-form-email,.comment_auth_email {
        width: 100%
    }

    .comment-form .comment_auth_email input,.comment-form .comment_auth_email input {
        width: 100%;
        box-sizing: border-box
    }

    body ul.job_listings li.job_listing a .position,body ul.resumes li.resume a .candidate-column {
        width: 75%;
        padding: 12px 0 0 100px
    }

    body ul.job_listings li.job_listing a .position .job_types,ul.resumes li.resume a .candidate-column .resume_categoryes {
        clear: left
    }

    body ul.job_listings li.job_listing a .position .job_types span.job-type,ul.resumes li.resume a .candidate-column .resume_category {
        margin: 0 5px 0 0
    }

    body ul.job_listings li.job_listing a ul.meta {
        margin: 20px 1em 0 0
    }

    ul.job_listings li.job_listing a div.position h3 {
        font-size: 17px
    }

    ul.job_listings li.job_listing.job_position_featured a div.position h3,ul.resumes li.resume.featured_resume a div.candidate-column h3 {
        font-size: 20px
    }

    ul.resumes li.resume.featured_resume a .candidate-column .candidate-title span {
        font-size: 12px
    }

    body ul.job_listings li.job_listing a ul.meta .date {
        font-size: 9px
    }

    ul.job_listings li.job_listing a .meta li,li.job_listing a ul.meta,ul.resumes li.resume a div.resume-meta {
        display: none
    }

    .wrapper ul.job_listings li.indeed_job_listing a div.position span.job-type {
        margin-top: 7px
    }

    body ul.job_listings li.indeed_job_listing a .position {
        width: 100%
    }
}

@media(min-width: 980px) and (max-width:1199px) {
    .comment-form .comment-notes {
        float:left;
        width: 100%
    }

    .comment-form-author,.comment-form-email,.comment_auth_email {
        width: 100%
    }

    .comment-form .comment_auth_email input,.comment-form .comment_auth_email input {
        width: 100%;
        box-sizing: border-box
    }

    body ul.job_listings li.job_listing a .position .job_types,body ul.resumes li.resume a .candidate-column .resume_categoryes {
        clear: left
    }

    body ul.resumes li.resume a .candidate-column .resume_category,ul.job_listings li.job_listing a .position span.job-type {
        margin: 0 5px 0 0
    }
}

@media(min-width: 1200px) {
    .ninja_form_application .float_width_50-wrap {
        width:49%;
        float: left;
        max-width: 420px;
        margin-left: 30px
    }

    .ninja_form_application .no_left_margin-wrap {
        margin-left: 0
    }

    .ninja_form_application .float_width_50-wrap:first-child {
        margin-left: 0
    }

    .footer-wrapper .footer-container {
        padding: 0 14px
    }

    .header .top-header .logged-in-container {
        width: 53%
    }

    .header.no_submit_button .top-header .logged-in-container {
        width: 100%
    }

    .header .top-header .logged-in-container .user-thumbnail {
        width: auto
    }

    .logged-in .header .top-header .buttons {
        width: 360px
    }

    .logged-in .header.no_submit_button .top-header .buttons {
        width: 191px
    }

    .top-header .postajob {
        display: block;
        width: 165px;
        height: 70px;
        float: right;
        margin-right: 2px;
        text-align: center
    }

    .top-header .postajob a.blue-button {
        width: 100%
    }

    body .sf-menu li a {
        padding: 0 19px;
        font-size: 26px
    }

    .sf-menu .menu-item-has-children a {
        padding-right: 35px
    }

    .sf-menu .menu-item-has-children:after {
        display: block;
        right: 20px
    }

    .job-manager-form fieldset input.input-text {
        width: 371px
    }

    .job-manager-form fieldset {
        width: auto
    }

    html.ie11 .job-manager-form fieldset,html.ie10 .job-manager-form fieldset,html.ie9 .job-manager-form fieldset {
        width: 31%;
        margin-left: 27.5px
    }

    html.ie11 .job-manager-form h2,html.ie11 .job-manager-form p,html.ie10 .job-manager-form h2,html.ie10 .job-manager-form p,html.ie9 .job-manager-form h2,html.ie9 .job-manager-form p {
        margin-left: 27.5px
    }

    html.ie9 .job-manager-form .fieldset-candidate_name,html.ie10 .job-manager-form .fieldset-candidate_name,html.ie11 .job-manager-form .fieldset-candidate_name,html.ie9 .job-manager-form .fieldset-candidate_email,html.ie10 .job-manager-form .fieldset-candidate_email,html.ie11 .job-manager-form .fieldset-candidate_email,html.ie9 .job-manager-form .fieldset-candidate_location,html.ie10 .job-manager-form .fieldset-candidate_location,html.ie11 .job-manager-form .fieldset-candidate_location,html.ie9 .job-manager-form .fieldset-candidate_title,html.ie10 .job-manager-form .fieldset-candidate_title,html.ie11 .job-manager-form .fieldset-candidate_title,html.ie9 .job-manager-form .fieldset-signin,html.ie10 .job-manager-form .fieldset-signin,html.ie11 .job-manager-form .fieldset-signin,html.ie9 .job-manager-form .fieldset-resume_category,html.ie10 .job-manager-form .fieldset-resume_category,html.ie11 .job-manager-form .fieldset-resume_category,html.ie9 .job-manager-form .fieldset-resume_content,html.ie10 .job-manager-form .fieldset-resume_content,html.ie11 .job-manager-form .fieldset-resume_content,html.ie9 .job-manager-form .fieldset-resume_skills,html.ie10 .job-manager-form .fieldset-resume_skills,html.ie11 .job-manager-form .fieldset-resume_skills {
        width: 28.5%;
        margin-left: 27.5px
    }

    html.ie11 .job-manager-form .fieldset-signin,html.ie10 .job-manager-form .fieldset-signin,html.ie9 .job-manager-form .fieldset-signin {
        width: 64%
    }

    html.ie11 .job-manager-form .fieldset-application,html.ie11 .job-manager-form .fieldset-job_description,html.ie10 .job-manager-form .fieldset-application,html.ie10 .job-manager-form .fieldset-job_description,html.ie9 .job-manager-form .fieldset-application,html.ie9 .job-manager-form .fieldset-job_description,html.ie9 .job-manager-form .fieldset-resume_content,html.ie10 .job-manager-form .fieldset-resume_content,html.ie11 .job-manager-form .fieldset-resume_content,html.ie9 .job-manager-form .fieldset-resume_skills,html.ie10 .job-manager-form .fieldset-resume_skills,html.ie11 .job-manager-form .fieldset-resume_skills,html.ie11 .job-manager-form .fieldset-resume_content,html.ie10 .job-manager-form .fieldset-resume_content,html.ie9 .job-manager-form .fieldset-resume_content {
        width: 97.6%
    }

    html.ie11 .job-manager-form .fieldset-company_logo,html.ie10 .job-manager-form .fieldset-company_logo,html.ie9 .job-manager-form .fieldset-company_logo,html.ie9 .job-manager-form .fieldset-candidate_photo,html.ie10 .job-manager-form .fieldset-candidate_photo,html.ie11 .job-manager-form .fieldset-candidate_photo,html.ie11 .job-manager-form .fieldset-notes,html.ie10 .job-manager-form .fieldset-notes,html.ie9 .job-manager-form .fieldset-notes {
        width: 100%
    }

    html.ie9 body .job-manager-form .fieldset-candidate_education,html.ie10 body .job-manager-form .fieldset-candidate_education,html.ie11 body .job-manager-form .fieldset-candidate_education,html.ie9 body .job-manager-form .fieldset-candidate_experience,html.ie10 body .job-manager-form .fieldset-candidate_experience,html.ie11 body .job-manager-form .fieldset-candidate_experience {
        width: 95%
    }

    html.ie11 .fieldset-candidate_experience .field .resume-manager-data-row .fieldset-date .field input,html.ie10 .fieldset-candidate_experience .field .resume-manager-data-row .fieldset-date .field input,html.ie9 .fieldset-candidate_experience .field .resume-manager-data-row .fieldset-date .field input,html.ie11 .fieldset-candidate_experience .field .resume-manager-data-row .fieldset-date label,html.ie10 .fieldset-candidate_experience .field .resume-manager-data-row .fieldset-date label,html.ie9 .fieldset-candidate_experience .field .resume-manager-data-row .fieldset-date label {
        margin-left: 45px
    }

    html.ie11 .job-manager-form .fieldset-job_location,html.ie10 .job-manager-form .fieldset-job_location,html.ie9 .job-manager-form .fieldset-job_location {
        margin-top: -1px
    }

    html.ie11 .job-manager-form .fieldset-company_name,html.ie10 .job-manager-form .fieldset-company_name,html.ie9 .job-manager-form .fieldset-company_name {
        margin-top: 1px
    }

    html.ie11 .job-manager-form,html.ie10 .job-manager-form,html.ie9 .job-manager-form {
        margin-left: -27.5px
    }

    .job-manager-form .fieldset-candidate_photo {
        width: 71%;
        max-width: 770px
    }

    .job-manager-form .fieldset-candidate_title {
        margin-bottom: 30px
    }

    .job-manager-form .fieldset-candidate_name,.job-manager-form .fieldset-candidate_email,.job-manager-form .fieldset-candidate_title {
        margin-right: 28px
    }

    .job-manager-form .field select {
        background-position: 351px 22px;
        width: 371px
    }

    .job-manager-form .fieldset-company_logo {
        width: 71%;
        max-width: 770px
    }

    .morph-button-modal-2.open .morph-content {
        margin: -11% 0 0 -50%
    }
}
