﻿.soul-color-scheme .resume_preview_title #resume_preview_submit_button,.soul-color-scheme .job_listing_preview_title #job_preview_submit_button,.soul-color-scheme .poll_result_bar>div>div,.soul-color-scheme .comment-content .reply-edit-container a.comment-reply-link:hover,.soul-color-scheme .comment-content .reply-edit-container a.comment-edit-link:hover,.soul-color-scheme #author-info #author-description #author-link a:hover,.soul-color-scheme .search.widget .btn,.soul-color-scheme .tagcloud .tag_cloud_post_tag a:hover,.soul-color-scheme .blue-button,.soul-color-scheme .wrapper .content .blue-button {
    background-color: #7ab317
}

.soul-color-scheme .ui-state-default.ui-corner-top.ui-tabs-active.ui-state-active {
    background-color: #7ab317!important
}

.soul-color-scheme .wrapper .job-manager-form .resume-manager-add-row,.soul-color-scheme .tagcloud .tag_cloud_post_tag a:hover {
    color: #fff
}

.soul-color-scheme .wrapper h1,.soul-color-scheme .wrapper .single-resume-content h2,.soul-color-scheme .single_job_sidebar .job_company_name,.soul-color-scheme .author-name,.soul-color-scheme .comment-content .fn,.soul-color-scheme .comment-content .fn a,.soul-color-scheme .page_title,.soul-color-scheme .wrapper h3,.soul-color-scheme .wrapper .widget:not(.tagcloud) a,.soul-color-scheme .wrapper .content a,.soul-color-scheme .footer-wrapper .footer-content ul.footer-menu li a:hover,.soul-color-scheme .headerimg .jobs-statistics .jobs-count,.soul-color-scheme .headerimg .jobs-statistics .employers-count {
    color: #7ab317
}

.soul-color-scheme .wrapper .poll_answer:hover,.soul-color-scheme .footer-wrapper .footer-content {
    border-color: #7ab317
}

.soul-color-scheme ul.job_listings li.type-job_listing:hover {
    box-shadow: 0 0 0 1px #7ab317;
    -webkit-box-shadow: 0 0 0 1px #7ab317
}

.soul-color-scheme ul.job_listings li.type-job_listing.job_position_featured a:hover {
    box-shadow: 0 0 0 5px #7ab317;
    -webkit-box-shadow: 0 0 0 5px #7ab317
}

.soul-color-scheme ul.resumes li.resume.featured_resume:hover {
    box-shadow: 0 0 0 5px #a0c55f;
    -webkit-box-shadow: 0 0 0 5px #a0c55f
}

.soul-color-scheme ul.resumes li.type-resume:hover {
    box-shadow: 0 0 0 1px #a0c55f;
    -webkit-box-shadow: 0 0 0 1px #a0c55f
}

.soul-color-scheme ul.resumes li.resume.featured_resume:hover {
    box-shadow: 0 0 0 5px #a0c55f;
    -webkit-box-shadow: 0 0 0 5px #a0c55f
}

.soul-color-scheme .headerimg .resumes-statistics .registered-users-count,.soul-color-scheme .headerimg .resumes-statistics .active-resumes-count,.soul-color-scheme ul.resumes li.resume.featured_resume a:hover .candidate-column h3,.soul-color-scheme .headerimg .resumes-statistics .registered-users-count,.soul-color-scheme .headerimg .resumes-statistics .active-resumes-count,.soul-color-scheme .header .top-header .logged-in-container .user-name {
    color: #a0c55f
}

.soul-color-scheme ul.resumes li.resume.featured_resume a div.candidate-column {
    background-color: rgba(160,197,95,.9)
}

.soul-color-scheme .single_resume_sidebar .resume-aside .resume_photo .resume_cand_name,.soul-color-scheme .wrapper .job-manager-form .resume-manager-add-row,.soul-color-scheme .wpb_thumbnails .isotope-item .post-thumb,body.soul-color-scheme .wpb_image_grid .wpb_image_grid_ul .isotope-item:hover,.soul-color-scheme .sf-menu li li.current-menu-item,.soul-color-scheme .sf-menu .sub-menu .current-page-ancestor,.soul-color-scheme .sf-menu .sub-menu .current-menu-ancestor,.soul-color-scheme .sf-menu .sub-menu .current-menu-parent,.soul-color-scheme .sf-menu .sub-menu .current-page-parent,.soul-color-scheme .sf-menu .sub-menu .current_page_parent,.soul-color-scheme .wrapper .content .green-button,.soul-color-scheme .green-button {
    background-color: #a0c55f
}

