﻿div.wpcf7 {
    margin: 0;
    padding: 0
}

div.wpcf7-response-output {
    margin: 2em .5em 1em;
    padding: .2em 1em
}

div.wpcf7-mail-sent-ok {
    border: 2px solid #398f14
}

div.wpcf7-mail-sent-ng {
    border: 2px solid red
}

div.wpcf7-spam-blocked {
    border: 2px solid orange
}

div.wpcf7-validation-errors {
    border: 2px solid #f7e700
}

span.wpcf7-form-control-wrap {
    position: relative
}

span.wpcf7-not-valid-tip {
    color: red;
    font-size: 1em;
    display: block
}

.use-floating-validation-tip span.wpcf7-not-valid-tip {
    position: absolute;
    top: 20%;
    left: 20%;
    z-index: 100;
    border: 1px solid red;
    background: #fff;
    padding: .2em .8em
}

span.wpcf7-list-item {
    margin-left: .5em
}

.wpcf7-display-none {
    display: none
}

div.wpcf7 img.ajax-loader {
    border: 0;
    vertical-align: middle;
    margin-left: 4px
}

div.wpcf7 div.ajax-error {
    display: none
}

div.wpcf7 .placeheld {
    color: #888
}
body {
}
