﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <meta content="True" name="HandheldFriendly">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title> Jobera &#8211; Premium WordPress theme</title>
    <link rel="pingback" href="xmlrpc.html">
    <link rel="shortcut icon" href="wp-content/themes/Jobera/images/favicon.ico" />
    <meta name='robots' content='noindex,follow' />
    <link rel="alternate" type="application/rss+xml" title="Jobera - Premium WordPress theme &raquo; Feed" href="feed/index.html" />
    <link rel="alternate" type="application/rss+xml" title="Jobera - Premium WordPress theme &raquo; Comments Feed" href="comments/feed/index.html" />
    @*<link rel='stylesheet' id='thickbox.css-css' href='wp-includes/js/thickbox/thickbox.css?ver=1.0' type='text/css' media='all' />*@
    <link href="~/Content/ThickBox.css" rel="stylesheet" />
    @*<link rel='stylesheet' id='contact-form-7-css' href='wp-content/plugins/contact-form-7/includes/css/stylesf3df.css?ver=3.7.2'
          type='text/css' media='all' />*@
    <link href="~/Content/style.css" rel="stylesheet" />
    @*<link rel='stylesheet' id='co-master-css-css' href='wp-content/plugins/jobera-plugin/lib/css/master2f54.css?ver=4.1' type='text/css'
          media='all' />*@
    <link href="~/Content/master.css" rel="stylesheet" />
    @*<link rel='stylesheet' id='rs-plugin-settings-css' href='wp-content/plugins/revslider/rs-plugin/css/settingse8e4.css?rev=4.6.0&amp;ver=4.1'
          type='text/css' media='all' />*@
    <link href="~/Content/setting.css" rel="stylesheet" />
    <style id='rs-plugin-settings-inline-css' type='text/css'>
		@@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,800,300,700);
		.tp-caption a {
			color: #ff7302;
			text-shadow: none;
			-webkit-transition: all 0.2s ease-out;
			-moz-transition: all 0.2s ease-out;
			-o-transition: all 0.2s ease-out;
			-ms-transition: all 0.2s ease-out
		}

		.tp-caption a:hover {
			color: #ffa902
		}
    </style>
    <link rel='stylesheet' id='woocommerce-layout-css' href='wp-content/plugins/woocommerce/assets/css/woocommerce-layoutd63f.css?ver=2.1.5'
          type='text/css' media='all' />
    <link rel='stylesheet' id='woocommerce-smallscreen-css' href='wp-content/plugins/woocommerce/assets/css/woocommerce-smallscreend63f.css?ver=2.1.5'
          type='text/css' media='only screen and (max-width: 768px)' />
    <link rel='stylesheet' id='woocommerce-general-css' href='wp-content/plugins/woocommerce/assets/css/woocommerced63f.css?ver=2.1.5'
          type='text/css' media='all' />
    <link rel='stylesheet' id='wp-job-manager-resume-frontend-css' href='wp-content/plugins/wp-job-manager-resumes/assets/css/frontend2f54.css?ver=4.1'
          type='text/css' media='all' />
    <link rel='stylesheet' id='wp-job-manager-frontend-css' href='wp-content/plugins/wp-job-manager/assets/css/frontend2f54.css?ver=4.1'
          type='text/css' media='all' />
    <link rel='stylesheet' id='gjm-frontend-style-css' href='wp-content/plugins/geo-job-manager/assets/css/frontend2f54.css?ver=4.1'
          type='text/css' media='all' />
    <link rel='stylesheet' id='wc-paid-listings-packages-css' href='wp-content/plugins/wp-job-manager-wc-paid-listings/assets/css/packages2f54.css?ver=4.1'
          type='text/css' media='all' />
    <link rel='stylesheet' id='master-css-css' href='wp-content/themes/Jobera/style2f54.css?ver=4.1' type='text/css' media='all' />
    <link rel='stylesheet' id='vh-normalize-css' href='wp-content/themes/Jobera/css/normalize2f54.css?ver=4.1' type='text/css'
          media='all' />
    <link rel='stylesheet' id='js_composer_front-css' href='wp-content/plugins/js_composer/assets/css/js_composer_front0235.css?ver=4.1.1'
          type='text/css' media='all' />
    <link rel='stylesheet' id='prettyphoto-css' href='wp-content/plugins/js_composer/assets/lib/prettyphoto/css/prettyPhoto0235.css?ver=4.1.1'
          type='text/css' media='screen' />
    <link rel='stylesheet' id='superfish-css' href='wp-content/themes/Jobera/css/nav/superfish2f54.css?ver=4.1' type='text/css'
          media='all' />
    <link rel='stylesheet' id='vh-responsive-css' href='wp-content/themes/Jobera/css/responsive2f54.css?ver=4.1' type='text/css'
          media='all' />
    <link rel='stylesheet' id='pushy-css' href='wp-content/themes/Jobera/css/nav/pushy2f54.css?ver=4.1' type='text/css' media='all' />
    <link rel='stylesheet' id='prettycheckable-css' href='wp-content/themes/Jobera/css/prettyCheckable2f54.css?ver=4.1' type='text/css'
          media='all' />
    <link rel='stylesheet' id='front-gfonts-css' href='wp-content/themes/Jobera/css/gfonts2f54.css?ver=4.1' type='text/css'
          media='all' />
    <link rel='stylesheet' id='color-schemes-friends-css' href='wp-content/themes/Jobera/css/color-schemes/friends2f54.css?ver=4.1'
          type='text/css' media='all' />
    <link rel='stylesheet' id='color-schemes-gamebookers-css' href='wp-content/themes/Jobera/css/color-schemes/gamebookers2f54.css?ver=4.1'
          type='text/css' media='all' />
    <link rel='stylesheet' id='color-schemes-red-css' href='wp-content/themes/Jobera/css/color-schemes/red2f54.css?ver=4.1'
          type='text/css' media='all' />
    <link rel='stylesheet' id='color-schemes-soul-css' href='wp-content/themes/Jobera/css/color-schemes/soul2f54.css?ver=4.1'
          type='text/css' media='all' />
    <link rel='stylesheet' id='color-schemes-goldfish-css' href='wp-content/themes/Jobera/css/color-schemes/goldfish2f54.css?ver=4.1'
          type='text/css' media='all' />
    <link rel='stylesheet' id='like-dislike-css' href='wp-content/plugins/like-dislike-counter-for-posts-pages-and-comments/css/ldc-lite8a54.css?ver=1.0.0'
          type='text/css' media='all' />
    <script type='text/javascript' src='wp-includes/js/jquery/jquery90f9.js?ver=1.11.1'></script>
    <script type='text/javascript' src='wp-includes/js/jquery/jquery-migrate.min1576.js?ver=1.2.1'></script>
    <script type='text/javascript' src='wp-content/plugins/revslider/rs-plugin/js/jquery.themepunch.tools.mine8e4.js?rev=4.6.0&amp;ver=4.1'></script>
    <script type='text/javascript' src='wp-content/plugins/revslider/rs-plugin/js/jquery.themepunch.revolution.mine8e4.js?rev=4.6.0&amp;ver=4.1'></script>
    <script type='text/javascript' src='http://maps.googleapis.com/maps/api/js?sensor=false&amp;libraries=places&amp;ver=4.1'></script>
    <script type='text/javascript' src='wp-content/themes/Jobera/js/nprogress2f54.js?ver=4.1'></script>
    <script type='text/javascript' src='wp-content/themes/Jobera/js/modernizr2f54.js?ver=4.1'></script>
    <link rel="EditURI" type="application/rsd+xml" title="RSD" href="xmlrpc0db0.html?rsd" />
    <link rel="wlwmanifest" type="application/wlwmanifest+xml" href="wp-includes/wlwmanifest.xml" />
    <meta name="generator" content="WordPress 4.1" />
    <link rel='canonical' href='index.html' />
    <link rel='shortlink' href='index.html' />
    <meta name="generator" content="WooCommerce 2.1.5" />
    <style type="text/css">
        .recentcomments a {
            display: inline !important;
            padding: 0 !important;
            margin: 0 !important;
        }
    </style>
    <meta name="generator" content="Powered by Visual Composer - drag and drop page builder for WordPress." />
    <style type='text/css'>
		.menu-item-734 .sub-menu {
			width: 146%;
		}

		ul.job_listings li.type-job_listing.gjm-marker-clicked {
			background-color: #f5f5f2;
			box-shadow: 0px 0px 0 1px #3399ff;
		}

		.vh_blocked_image {
			display: block;
			height: auto;
		}

		body.page-id-2336 .footer-wrapper {
			margin-top: -35px;
		}

		.wrapper p,
		.single-resume .resume-manager-skills li,
		.commentlist .comment-content p,
		#comments-title,
		.page-wrapper td,
		.page-wrapper th,
		.page-wrapper table span {
			font-family: 'Open Sans';
			font-size: 14px;
			line-height: 24px;
			color: #666666;
			font-weight: 300;
		}

		#calendar_wrap #wp-calendar caption,
		#calendar_wrap #wp-calendar td,
		#calendar_wrap #wp-calendar th,
		.sidebar-inner,
		.jobera-recentpostsplus.widget .news-item p,
		.jobera-contactform.widget input,
		.jobera-twitter.widget .tweet_text {
			font-family: 'Open Sans';
			font-size: 13px;
			line-height: 21px;
			color: #666666;
			font-weight: 300;
		}

		.wrapper h1 {
			font-family: 'Open Sans Condensed';
			font-size: 28px;
			line-height: 24px;
			color: #336699;
			font-weight: 300;
		}

		.wrapper h2 {
			font-family: 'Open Sans Condensed';
			font-size: 24px;
			line-height: 24px;
			color: #000000;
			font-weight: 300;
		}

		.wrapper h3 {
			font-family: 'Open Sans Condensed';
			font-size: 20px;
			line-height: 24px;
			color: #336699;
			font-weight: 300;
		}

		.wrapper h4 {
			font-family: 'Open Sans Condensed';
			font-size: 18px;
			line-height: 24px;
			color: #333333;
			font-weight: 300;
		}

		.wrapper h5 {
			font-family: 'Open Sans Condensed';
			font-size: 15px;
			line-height: 24px;
			color: #336699;
			font-weight: bold;
		}

		.wrapper h6 {
			font-family: 'Open Sans Condensed';
			font-size: 13px;
			line-height: 24px;
			color: #333333;
			font-weight: 300;
		}

		.wrapper .content a {
			font-family: 'Open Sans';
			font-size: 14px;
			line-height: 24px;
			color: #336699;
			font-weight: 300;
		}

		.wrapper .widget:not(.tagcloud) a {
			font-family: 'Open Sans';
			font-size: 13px;
			line-height: 21px;
			color: #336699;
			font-weight: 300;
		}

		@@media (min-width: 1200px) {
			.sidebar-right .item-title-bg h4,
			.sidebar-left .item-title-bg h4 {
				font-family: 'Open Sans Condensed';
				font-size: 24px;
				line-height: 24px;
				color: #333333;
				font-weight: normal;
			}
		}

		.wrapper .page-title h1,
		.wrapper .blog_title {
			font-family: 'Open Sans Condensed';
			font-size: 32px;
			line-height: 24px;
			color: #333333;
			font-weight: 300;
		}
    </style>

</head>
<body>
    
        @RenderBody()
      

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
